@font-face {
    font-family: mplus-light;
    src: url(../font/M_PLUS_1p/MPLUS1p-Light.ttf);
    font-weight:lighter;
}

@font-face {
    font-family: mplus-regular;
    src: url(../font/M_PLUS_1p/MPLUS1p-Regular.ttf);
    font-weight:normal;
}

@font-face {
    font-family: mplus-Medium;
    src: url(../font/M_PLUS_1p/MPLUS1p-Medium.ttf);
    font-weight:normal;
}

@font-face {
    font-family: mplus-Bold;
    src: url(../font/M_PLUS_1p/MPLUS1p-Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: mplus-Black;
    src: url(../font/M_PLUS_1p/MPLUS1p-Black.ttf);
    font-weight:bolder;
}

* {
    margin: 0;
    padding: 0;
    font-family: mplus-regular;
}

#nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.li-nav {
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    width:max-content;
    display: block;
}

.btn-01 {
    border-radius: 5px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color : rgb(255, 255, 255);
    text-decoration: none;
    min-width: 120px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
}

.btn-01:hover {
    color: hsl(34, 68%, 59%);
    background-color: hsl(133, 95%, 24%);
}

.btn-01-sm {
    border-radius: 5px;
    border: 1px solid black;
    padding-top: -5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    min-width: 80px;
    min-height: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-space-01 {
    margin-top: 30px;
    margin-bottom: 20px;
}

header h1,
main h2 {
    font-family: mplus-Bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h3 {
    font-family: mplus-Bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bloc-grow {
    flex-grow: 1;
}

header {
    padding: 20px;
    min-height: 15%;
}

body {
    height: 100vh;
}

main {
    min-height: 70%;
}

footer {
    height: 6%;
}

/* Style du tableau */
table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    max-width: 80%;
}

/* Style des cellules */
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

/* Couleur de fond des lignes paires */
tr:nth-child(even) {
    background-color: hsl(34, 59%, 82%);
}

/* Couleur de fond des lignes impaires */
tr:nth-child(odd) {
    background-color: hsl(133, 43%, 81%);
}
