@font-face {
    font-family: mplus-light;
    src: url(../font/M_PLUS_1p/MPLUS1p-Light.ttf);
    font-weight:lighter;
}

@font-face {
    font-family: mplus-regular;
    src: url(../font/M_PLUS_1p/MPLUS1p-Regular.ttf);
    font-weight:normal;
}

@font-face {
    font-family: mplus-Medium;
    src: url(../font/M_PLUS_1p/MPLUS1p-Medium.ttf);
    font-weight:normal;
}

@font-face {
    font-family: mplus-Bold;
    src: url(../font/M_PLUS_1p/MPLUS1p-Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: mplus-Black;
    src: url(../font/M_PLUS_1p/MPLUS1p-Black.ttf);
    font-weight:bolder;
}

* {
    margin: 0;
    padding: 0;
    font-family: mplus-regular;
}

header {
    padding: 20px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

header nav,
header div,
header h1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*
header div {
    margin: 20px 0;
}*/

header a {
    padding: 5px 10px;
    text-decoration: none;
}
/*
header nav {
    margin: 20px 0;
}*/

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

header nav ul li {
    padding: 5px 10px;
}

main h2 {
    font-family: mplus-Bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

main h3 {
    font-family: mplus-Bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    height: 100vh;
}

main {
    min-height: 70%;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

footer {
    min-height: 10%;
    border-top: 1px solid black;

}

footer p {
    margin-top: 15px;
    text-align: center;
}

.link01 {
    text-decoration: none;
    color: hsl(133, 95%, 24%);
}

.link01:hover {
    text-decoration:underline;
    color: hsl(133, 58%, 45%);
}

.btn-form,
.btn-02,
.btn-01 {
    border-radius: 5px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color : rgb(255, 255, 255);
    text-decoration: none;
    min-width: 120px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-form {
    background-color: hsl(133, 94%, 14%);
    padding-top: 0px;
}

.btn-01 {
    background-color: hsl(133, 94%, 14%);
}

.btn-01-sm,
.btn-02 {
    background-color: hsl(34, 71%, 40%);
}

.btn-01-sm-red {
    background-color: hsl(2, 71%, 40%);
}

.btn-01-sm-blue {
    background-color: hsl(219, 71%, 40%);
}

.btn-01:hover {
    color: hsl(34, 68%, 59%);
    background-color: hsl(133, 95%, 24%);
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.btn-01-sm:hover,
.btn-02:hover {
    color: hsl(134, 81%, 4%);
    background-color: hsl(34, 68%, 59%);
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.btn-01-sm-blue:hover {
    color: hsl(134, 81%, 4%);
    background-color: hsl(219, 81%, 58%);
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.btn-01-sm-red:hover {
    color: hsl(134, 81%, 4%);
    background-color: hsl(2, 69%, 59%);
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}


.btn-01-sm-red,
.btn-01-sm-blue,
.btn-01-sm {
    border-radius: 5px;
    border: 1px solid black;
    padding-top: -5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    min-width: 80px;
    min-height: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-space-01 {
    margin-top: 30px;
    margin-bottom: 20px;
}

table {
    border-spacing: 0;
    border: 1px solid black;
    border-collapse: collapse;
    overflow: hidden;
    max-width: 80%;
    box-sizing: border-box;
}

td {
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: hsl(34, 59%, 82%);
}

tr:nth-child(odd) {
    background-color: hsl(133, 43%, 81%);
}

form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    padding-right: 30px;
    background-color: hsl(133, 43%, 81%);
    max-width: 40%;
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    margin-right: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
 form input[type="numeric"] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

form a {
    text-decoration: none;
    
}

select {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }

  select option {
    background-color: hsl(133, 43%, 81%);
  }

  @media (max-width: 650px) {
    table, tbody, tr, td, th {
      display: block;
    }
  }
